@{
    ViewBag.Title = "About Us";
}

<h1 style="font-family:'Adobe Caslon Pro'">About Us</h1>
<h2 style="font-family:'Adobe Caslon Pro'">
    
We recruit qualified personnel for their clients. Like so many other things in life, hiring either requires a go-between or proceeds more smoothly with the help of one. 
One key reason for their usefulness is that they enjoy the advantages, expertise and efficiency of specialization.
Another is their reach and access to networks.
Most importantly, we free up time and energy for companies that may not have enough of either to spare for the purpose of soliciting and screening job applications.
We are responsible for putting candidates and employers together. They are experts at both finding and identifying talent.
We are responsible for delivering talented employees to their companies, while agency recruiters find qualified applicants for their clients.
We are the best because of our reliability, integrity, reputation, solid performance history, affordability, efficiency and effectiveness.
</h2>
