@{
    ViewBag.Title = "Contact";
}

<h1>Contact Us</h1>
<h2>
     THE DEPARTMENT OF COMPUTER SCIENCE AND ENGINEERING,LADOKE AKINTOLA UNIVERSITY OF TECHNOLOGY.<br />
    MOBILE NO:
    SALAMI ADEDOTUN :07034953469

</h2>
