
<div style="border: 1px solid #CCC;">
          <div style="display:block; background-color:#e3e3e3; text-align:center; color:black;padding:10px"><h4>My Dashbourd</h4></div>
        <ul class="nav nav-list">
           <li>@Html.ActionLink("My Profile", "MyProfile", "Guest")</li>
           <li><a href="#">My Payment History</a>
               @*@Html.ActionLink("My Payment History", "MyPaymentHistory", "CustomerPayment")*@</li>
           @*<li>@Html.ActionLink("My Laundry Tracker", "MyLaundryTracker", "CustomerService")</li>*@
           @*<li>@Html.ActionLink("My Friends List", "MyFriends", "CustomerFriend")</li>*@
          @* <li>@Html.ActionLink("My Account", "MyAccount", "CustomerAccount")</li>*@
        </ul>
    </div>

