@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 style="font-family:'Monotype Corsiva'; color:blue;text-align:center">Confirmed</h2>

<h1 style="font-family:'Monotype Corsiva'; color:blue;text-align:center">Your Application was Successful</h1>
<div  style="text-align:center"> 
    <a href="/Home/Index" class="btn btn-primary">Please Go Back To The HomePage</a>
    </div><br />
